.forgotPassword{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-text-fill:#0066CC;
}

.SignUp{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-text-fill:#0066CC;
}