.root{
    -fx-background-color: #000000;
}

.button{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 100px;
    -fx-background-color: #FF003C;
    -fx-text-fill:white;
    -fx-start-margin: 20px;
}

.ImageButton{
    -fx-background-color: #041227;
    -fx-background-radius: 0px;
}

.dropbutton{
    -fx-font-weight: normal;
    -fx-font-size: 20 px;
    -fx-background-radius: 10px;
    -fx-background-color: #FFFFFF;
}

.clickedbutton{
    -fx-font-weight: bold;
    -fx-font-weight: normal;
    -fx-font-size: 20 px;
    -fx-background-radius: 100px;
    -fx-background-color: #FFCA00;
}

.BackButton{
    -fx-background-radius: 20px;
    -fx-background-color: #F8C33A;
    -fx-text-fill:white;
}

