.TicketBar{
    -fx-background-color: #537C97 ;
    -fx-background-radius: 15px;
}

.button{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 100px;
    -fx-background-color: #FF003C;
    -fx-text-fill:white;
    -fx-start-margin: 20px;
}

.HomeButton{
    -fx-background-radius: 20px;
    -fx-background-color: #F8C33A;
    -fx-text-fill:white;
}
.root{
    -fx-background-color: #000000;
}
